DEBUG=False
SECRET_KEY=votre_cle_secrete_ici
ALLOWED_HOSTS=votre_domaine.com,localhost,127.0.0.1

# Configuration de la base de données (Laisser vide pour SQLite en local)
# Format MySQL : mysql://USER:PASSWORD@HOST:PORT/NAME
DATABASE_URL=

# Email settings
EMAIL_HOST_USER=votre-email@gmail.com
EMAIL_HOST_PASSWORD=votre-mot-de-passe-app

# Gemini AI (Coach Mode)
GOOGLE_API_KEY=votre_cle_gemini_ici

# Cloudflare R2 Storage
USE_R2=False
R2_ACCESS_KEY_ID=votre_access_key_id
R2_SECRET_ACCESS_KEY=votre_secret_access_key
R2_BUCKET_NAME=bibliotheque
R2_ENDPOINT_URL=https://1b1684523d71ab0598b8d6ed51d1ea3c.r2.cloudflarestorage.com
